<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
	<dict>
		<key>CLIENT_ID</key>
		<string>602092013416-q99the34q7jqumhb4k8sk25d4hq19gcm.apps.googleusercontent.com</string>
		<key>REVERSED_CLIENT_ID</key>
		<string>com.googleusercontent.apps.602092013416-q99the34q7jqumhb4k8sk25d4hq19gcm</string>
		<key>API_KEY</key>
		<string>AIzaSyDV-UH8JU-uLlAiB7owKK_PNNV5DMFX23Q</string>
		<key>GCM_SENDER_ID</key>
		<string>602092013416</string>
		<key>PLIST_VERSION</key>
		<string>1</string>
		<key>BUNDLE_ID</key>
		<string>com.lemonlistapp.app.local</string>
		<key>PROJECT_ID</key>
		<string>grocery-list-local</string>
		<key>STORAGE_BUCKET</key>
		<string>grocery-list-local.appspot.com</string>
		<key>IS_ADS_ENABLED</key>
		<false></false>
		<key>IS_ANALYTICS_ENABLED</key>
		<false></false>
		<key>IS_APPINVITE_ENABLED</key>
		<true></true>
		<key>IS_GCM_ENABLED</key>
		<true></true>
		<key>IS_SIGNIN_ENABLED</key>
		<true></true>
		<key>GOOGLE_APP_ID</key>
		<string>1:602092013416:ios:3afdf303c6f6bbb1d1f8dd</string>
		<key>DATABASE_URL</key>
		<string>https://grocery-list-local.firebaseio.com</string>
	</dict>
</plist>